.parallax {
  /* The image used */
  background-image:url("[ineapple.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background-color:#D68599;

}
h1 {
  color:white;
  font-family:Impact;
  text-align: center;
  font-size:80px;
}

p{

}
